body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.poseGroup {
  display: flex;
  flex-direction: row;
}

.poseGroup > textarea {
  font-size: x-small;
  flex: 1;
  padding: 20px;
}

#sizer {
  width: 25%;
  text-align: center;
  margin: auto;
}

/* #poseImage2 {
  transform: scaleX(-1);
} */

#controls {
  flex-direction: column;
}
