body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.poseGroup {
  display: flex;
  flex-direction: row;
}

.poseGroup > textarea {
  font-size: large;
  flex: 1;
  padding: 20px;
}

#controls {
  flex-direction: column;
}
